services:
  - type: web
    name: rock-stock
    runtime: docker
    dockerfilePath: ./Dockerfile
    region: oregon
    plan: free
    autoDeploy: true
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 4000
      - key: USE_MOCK
        value: "false"
      - key: CACHE_TTL_SECONDS
        value: "600"
      - key: RAPIDAPI_KEY
        scope: secret
      - key: RAPIDAPI_HOST
        value: yh-finance.p.rapidapi.com
    healthCheckPath: /api/quote?symbol=AAPL
